<div class="containerServices">
  <p>
    O <strong>Periódicos em Nuvens</strong> possui uma série de serviços
    adicionais que podem ser contratados individualmente, conforme a demanda de
    cada cliente.
  </p>
  <h3 id="depósito-doi-na-crossref">Depósito DOI na CrossRef</h3>
  <blockquote>
    <p>Depósito na CrossRef dos DOIs para sua revista.</p>
    <ul>
      <li>
        Depósito utilizando prefixo DOI da Lepidus Tecnologia, sem necessidade
        do pagamento da anuidade ou de pagamentos internacionais.
        Disponibilidade imediata.
      </li>
      <li>Auxílio na obtenção de um prefixo na CrossRef</li>
      <li>Depósito utilizando prefixo DOI próprio de sua instituição</li>
    </ul>
  </blockquote>
  <h3 id="identidade-visual">Identidade Visual</h3>
  <blockquote>
    <p>
      Inclui tanto a criação de uma identidade visual nova e personalizada para
      sua revista como a adaptação do SEER para que tenha um visual semelhante a
      outro site ou revista já existente. Por exemplo, seu periódico poderá ter
      um visual semelhante ao da instituição responsável por sua publicação.
    </p>
    <p>
      Exemplos de modificações para adequar a identidade visual ao esperado
      pelos editores científicos:
    </p>
    <ul>
      <li>Modificação da estrutura gráfica</li>
      <li>Modificação das cores e fontes</li>
      <li>
        Criação de banner que se integre a nova identidade visual da revista
      </li>
      <li>Criação de capas</li>
      <li>
        Disponibilização de plugin para inclusão de patrocinadores na barra
        lateral
      </li>
      <li>
        Disponibilização de plugin que permite mover a barra de menus horizontal
        para as barras laterais (<a
          href="http://pem.assis.unesp.br/index.php/pem"
          >exemplo 1</a
        >,
        <a href="http://aguassubterraneas.abas.org/asubterraneas">exemplo 2</a>)
      </li>
      <li>
        Desenvolvimento de plugins que atendam necessidades específicas (ex.:
        Mostrar DOI em locais estratégicos, mudanças na estrutura da página,
        etc)
      </li>
      <li>
        Melhorias visuais no sumário da revista para melhorar a usabilidade
      </li>
    </ul>
  </blockquote>
  <h3 id="cadastro-de-edições-e-artigos">Cadastro de edições e artigos</h3>
  <blockquote>
    <p>
      Cadastro de edições anteriores no SEER. Envolve a inclusão dos artigos já
      diagramados e preenchimento dos metadados.<br />
      Pode incluir também a montagem da revista no SEER, como cadastro da Equipe
      Editorial, normas de submissão de artigos, entre outras.
    </p>
  </blockquote>
  <h3 id="suporte-operacional-na-gestão-editorial">
    Suporte Operacional na Gestão Editorial
  </h3>
  <blockquote>
    <p>Auxiliamos na gestão editorial realizando os seguintes procedimentos:</p>
    <ul>
      <li>recebimento de artigos</li>
      <li>remoção de autoria para envio aos avaliadores</li>
      <li>acompanhamento de avaliações</li>
      <li>publicação de artigos na plataforma</li>
      <li>encaminhamento de certificados para avaliadores</li>
      <li>
        responder usuários sobre perguntas referentes aos artigos, uso da
        plataforma e normas da revista
      </li>
    </ul>
  </blockquote>
  <h3 id="assistência-à-equipe-editorial">Assistência à Equipe Editorial</h3>
  <blockquote>
    <p>
      Assistência a Equipe Editorial é um serviço para auxiliar a equipe
      editorial no uso da plataforma SEER.
    </p>
    <p>
      Através de um atendimento personalizado e de uma equipe especializada, a
      Lepidus tira dúvidas operacionais relativas ao SEER. Isto engloba:
    </p>
    <ul>
      <li>Busca de solução para as necessidades de seu Periódico</li>
      <li>Solução de dúvidas acerca do funcionamento do SEER</li>
      <li>
        Aconselhamento e apoio na seleção de opções oferecidas pelo SEER,
        auxiliando a adaptação do fluxo editorial às restrições e
        funcionalidades da plataforma
      </li>
      <li>Oferecimento de informações técnicas sobre a plataforma SEER</li>
    </ul>
    <p>
      Com estas atividades, auxiliamos a Equipe Editorial em diversas situações
      durante os estágios do fluxo editorial. Exemplos de tais situações são:
    </p>
    <ul>
      <li>Como funcionam as rodadas de avaliação</li>
      <li>Como criar formulários de avaliações</li>
      <li>Como é possível organizar a equipe editorial no sistema</li>
      <li>Orientações quanto ao tamanho e uso do banner</li>
      <li>Como alterar um artigo já publicado</li>
      <li>
        Como submeter artigos prontos para publicar, sem passar pelo processo de
        avaliação
      </li>
      <li>Como acompanhar as estatísticas de acesso pelo Google Analytics</li>
      <li>Como padronizar as informações dos membros da Equipe Editorial</li>
      <li>Como publicar um modelo de artigo para os autores consultarem</li>
      <li>
        Como publicar artigos em mais de um formato (ex.: PDF, Áudio, HTML)
      </li>
    </ul>
    <p>
      O contato com a equipe Assistência a Equipe Editorial se dá
      preferencialmente por email ou abertura de chamado, e sempre que
      necessário, poderão ser agendadas conferências por Skype ou Gtalk para
      esclarecimento de questões onde o email não se mostrar a ferramenta mais
      apropriada.
    </p>
    <p>
      Em casos de urgência, será disponibilizado um número para contato
      telefônico durante horário comercial (8h-12h e 14h-18h).
    </p>
  </blockquote>
  <h3 id="treinamento-editorial">Treinamento editorial</h3>
  <blockquote>
    <p>
      Treinamento para o uso do SEER dentro do contexto do fluxo editorial da
      revista, mostrando as diversas possibilidades existentes no sistema e
      adaptações que podem ser feitas para atender as necessidades específicas
      da equipe editorial.
    </p>
  </blockquote>
  <h3 id="desenvolvimento-de-plugins">Desenvolvimento de plugins</h3>
  <blockquote>
    <p>
      O desenvolvimento de plugins é geralmente a forma mais indicada para
      ampliar os recursos do SEER ou melhorar as funcionalidades já existentes.
      A equipe da <a href="http://lepidus.com.br">Lepidus</a> possui ampla
      experiência neste desenvolvimento.
    </p>
  </blockquote>
  <h3 id="migração">Migração</h3>
  <blockquote>
    <p>
      Migração de um periódico pré-existente para o Periódico em Nuvens ou a
      migração de um Periódico em Nuvens para outro servidor.
    </p>
  </blockquote>
  <h3 id="instalação-_on-site_">Instalação <em>on-site</em></h3>
  <blockquote>
    <p>
      Neste serviço realizamos a instalação e configuração do SEER nos
      servidores de sua instituição.
    </p>
    <p>Nosso modo de operação para o procedimento de instalação é:</p>
    <ol>
      <li>Instalação de um SEER no serviço em nuvens</li>
      <li>
        Disponibilização do SEER ao cliente para verificar plugins e
        funcionalidades extras a serem instaladas
      </li>
      <li>Migração do SEER para o servidor da instituição</li>
    </ol>
    <p>
      Para realização da terceira etapa, o servidor da instituição deverá estar
      devidamente configurado com os pré-requisitos necessários para o bom
      funcionamento do SEER, como:
    </p>
    <ul>
      <li>
        <p>Instalação e configuração do sistema operacional</p>
      </li>
      <li>
        <p>Instalação e configuração da base de dados</p>
      </li>
      <li>
        <p>Instalação e configuração do serviço de envio de email (SMTP)</p>
      </li>
      <li>
        <p>Instalação e configuração do servidor Web</p>
      </li>
      <li>
        <p>Instalação e configuração do PHP</p>
      </li>
      <li>
        <p>Configuração de serviço de nomes (DNS)</p>
      </li>
      <li>
        <p>Instalação e configuração de SSH preferencialmente, ou FTP</p>
      </li>
      <li>
        <p>
          Instalação e configuração de um sistema de gerencia remota da base de
          dados (ex: phpMyAdmin)
        </p>
      </li>
    </ul>
  </blockquote>
  <h3 id="atualização-_on-site_">Atualização <em>on-site</em></h3>
  <blockquote>
    <p>
      Neste serviço realizamos a atualização do SEER para a última versão nos
      servidores de sua instituição.
    </p>
    <p>Como pré-requisito deste serviço, a instituição deverá fornecer:</p>
    <ul>
      <li>
        <p>Acesso remoto através de SSH (preferencialmente) ou FTP</p>
      </li>
      <li>
        <p>
          Acesso remoto a um sistema de gerenciamento remoto da base de dados
          usada pelo SEER (ex: phpMyAdmin)
        </p>
      </li>
    </ul>
    <p>
      Não está incluso neste serviço  modificações nos pré-requisitos do SEER,
      como, por exemplo, ajustes no sistema operacional ou servidor Web.
    </p>
  </blockquote>

  <script>
    function initAccordioList() {
      const containerAccordion = document.querySelectorAll(
        '.containerServices > h3'
      );
      const title = document.querySelectorAll('.containerServices > h3');

      const classActiveBlockquote = 'activeBlockquote';

      if (containerAccordion) {
        title[0].classList.add(classActiveBlockquote);
        title[0].nextElementSibling.classList.add(classActiveBlockquote);

        function activeAccordion() {
          this.classList.toggle(classActiveBlockquote);
          this.nextElementSibling.classList.toggle(classActiveBlockquote);
        }

        containerAccordion.forEach((item) => {
          item.addEventListener('click', activeAccordion);
        });
      }
    }
    initAccordioList();
  </script>
</div>
